.heading {
  font-size: 23px;
  width: 100%;
  margin: 0px;
  box-shadow: 5px 5px 5px grey;
}

.heading_div {
  float: none;
  background: white;
  padding: 10px;
  border-radius: 20px;
  color: black;
  box-shadow: 5px 5px 5px grey;
}

.heading_div2 {
  font-size: 18px;
}

.result_para_tag {
  box-shadow: 5px 5px 5px grey;
  font-size: 20px;
  white-space: pre-line;
}

.copy_right_footer {
  position: fixed;
  color: white;
  bottom: 0;
  width: 100%;
  background-color: gray;
  line-height: 3;
  text-align: center;
}

canvas {
  margin-top: 1px;
  border-radius: 50px;
  animation-name: fade;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes fade {
  from {
    box-shadow: 1px 1px 38px rgb(131, 4, 4);
  }

  to {
    box-shadow: 1px 1px 38px rgb(11, 58, 214);
  }

}

img {
  height: 100px;
  width: 100px;
}